@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: white;
}

.cabecalho {
  width: 100%;
  background: #000000;
}

.cabecalho-largura {
  max-width: 1520px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px auto;
}

.cabecalho-img {
  width: 199px;
  height: 32px;
}

#cabecalho {
  width: 500px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}

.cabecalho-menu {
  display: flex;
  gap: 50px;
}

.cabecalho-menu-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.cabecalho-menu-item:hover {
  color: #ffbb00;
}

.cabecalho-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.cabecalho-login-img {
  height: 100%;
  cursor: pointer;
}

.conteudo {
  width: 1920px;
  height: 828px;
  background: #000000;
}

.conteudo-principal {
  width: 1185px;
  height: 582px;
  margin: 0px 400px 87px 400px;
}

.banner-principal {
  display: flex;
}

.banner-principal-escrito {
  margin-left: 65px;
}

.banner-principal-titulo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
}

.banner-principal-paragrafo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #adadad;
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner-principal-lista {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 36px;
}

.banner-principal-lista ul {
  list-style: none;
}

.banner-principal-lista ul li::before {
  content: '•';
  color: #ffbb00;
  display: inline-block;
  width: 1em;
  margin-left: 0em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 260px;
  height: 45px;
  background: #ffbb00;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: 40px;
  cursor: pointer;
}

button:hover {
  width: 260px;
  height: 45px;
  border: 1px solid #ffbb00;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffbb00;
}

.conteudo-secundario {
  width: 100%;
  background: #ffffff;
}

.conteudo-secundario-largura {
  max-width: 1526px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
}

.avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.conteudo-secundario-escrito h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
}

.conteudo-secundario-escrito p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #6c6c6c;
}

.conteudo-secundario-escrito h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 72px;
  color: #000000;
}

.conteudo-secundario-escrito h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.conteudo-secundario-escrito h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

footer {
  width: 1520px;
  height: 203px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 150px;
}

.social-media {
  max-width: 199px;
  width: 100%;
}

.social-media-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-titulo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 20px;
}

.logo-footer {
  margin-bottom: 47px;
}

footer ul li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #505050;
  list-style-type: none;
}

footer ul li:hover {
  color: #ffbb00;
}
